/* HEADER */
header {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('bg_header.png');
	background-size: cover;
	background-position: center;
	height: 200px;
	padding: 20px;
}

header img {
	display: block;
	margin: 0 auto;
	max-width: 8%;
	margin-top: 90px;
	border: relative;
	border-radius: 45px;
}

/* HEADER: BUTTONS */
header nav ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: start;
	margin-top: 10px;
}

header nav li{
	display: inline-block;
	margin-right: 20px;
	flex: 1;
	text-align: center;
}

header nav a{
	display: block;
	padding: 10px 15px;
	font-family: "Balsamiq Sans", sans-serif;
	text-decoration: none;
	background-color: #4338BE;
	color: #EEF0FA;
	font-weight: bold;
}

header nav a:hover{
	background-color: #005EFC;
}

/* BODY BACKGROUND */
.background-image {
	background-image: url('background.png');
	background-size: cover; 
	background-position: center; 
	height: 100vh; 
	width: 100vw; 
	top: 0; 
	left: 0;
	position: fixed; 
	z-index: -1;
}

/* BLOCK: LATEST RELEASE */
.latest-release-container{
	display: flex;
	justify-content: center;	
}
.latest-release {
	background-color: #242424;
	border-radius: 10%;
	width: 25%;
	padding: 20px;
	text-align: center;
  }
  
  .latest-release-h1 {
	padding: 20px;
	margin-top: 300px;
	text-align: center;
  }
  .latest-release_title {
	padding: 10px 15px;
	font-family: "Balsamiq Sans", sans-serif;
	text-decoration: none;
	color: #EEF0FA;
	font-weight: bold;
  }

  .latest-release_cover-image {
	width: 256px;
	height: 256px;
	object-fit: cover;
	margin-bottom: 10px;
  }

  .lrbutton{
	display: flex;
	justify-content: center;
  }
  .latest-release_button{
	display: block;
	width: 150px;
	padding: 10px 15px;
	font-family: "Balsamiq Sans", sans-serif;
	text-decoration: none;
	background-color: #4338BE;
	color: #EEF0FA;
	font-weight: bold;
  }
  /*
  .latest-release_button {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
  }
  */

/* ARTIST INFO SECTION */
.artist-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #EEF0FA;
    font-family: "Balsamiq Sans", sans-serif;
    width: 80%;
    margin: 0 auto;
}

.artist-info-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #EEF0FA;
    padding: 10px;
}

.artist-name, .about, .links {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.artist-name {
    text-align: left;
}

.links {
    text-align: right;
}

.links a {
    display: inline-block;
    margin-left: 10px;
}

.ico{
	width: 32px;
	height: 32px;
}
/* PHOTO AND ABOUT TEXT SECTION */
.artist-body {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.artist-photo {
    width: 25%;
	height: 25%;
    border: 1px solid #EEF0FA;
    padding: 20px;
}

.artist-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.artist-about-text {
    flex: 1;
    border: 1px solid #EEF0FA;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
}